/*-----------
   Utilities 
 ------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

 body{
     margin: 0;
     /* font-weight 700
     font-family: 'Poppins', sans-serif;  */
     
 }

 header{
     width: 100%;
     background-color: #2D25A0;
     
     
 }

.button-sub{
    background-color: #E02C6D;;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    height: 44px;
    width: 168px;
    border: 0px;
    color: #FFFFFF;
}

.fa-arrow-right{
    margin-left: 8px;
}

.fa-sign-in-alt{
    margin-right: 8px;
}

 main{
    width: 1050px;
    height: 100%;
    margin: auto;
    background-color: #FFFFFF;
     
 }


/* navigation styles */
nav{
    margin: auto;
    padding: 42px;  
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav a:hover {
    border-bottom: 3px solid #E02C6D;
    transition: border-bottom 0.1s;
  }

.nav-option{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 36px;
    
}



/* top banner styles */
.top-banner{
    width: 1160px;
    margin: auto;
    margin-top: 67px;
    display: flex;
    justify-content: space-between;
    
}

.top-banner:hover .top-banner-right img{
    transition: transform 1s ease-out;
    transform: scale(1.10) ;
}

.top-banner-left h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 64px;
    color: white;
}



.watch-button{
    background-color: #E02C6D;;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    padding: 44px 123px;
    color: #FFFFFF;
}

.top-banner-right img{
    width: 556.01px;
    height: 438px;
    
}

/* players styles */
.players{
    margin-top: 70px;
    margin-bottom: 165px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px; 
}

.player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}

.player img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
    
}

.player-info{
    margin-bottom: 18px;
    font-family: 'Poppins', sans-serif;
    color:#6C6C6C;;
    font-weight: normal;
    font-size: 16px

    
}

/* highlights banner styles */
.highlights-banner{
    margin-top: -36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    
}

.left-highlights-banner{
    
    margin-left: 10px;
    margin-right: 66px;
    

    
    
}

.highlights-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #0A0826;
    margin-bottom: 0;
}
.highlights-news-text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #6C6C6C;
    margin-top: 8px;
    margin-bottom: 24px;
}

.right-highlights-banner img{
    width: 567px;
    height: 427px;
}

/* point table styles */

.copa-point-table{
    font-family: 'Poppins', sans-serif;
    width: 1050px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px #6C6C6C;


}

.table-div{
    border-radius: 10px;
}

.point-table {
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    
  }

.point-table , th, td {
    border: 1px solid rgb(255, 86, 19);
    color: #18191F;
    border-collapse: collapse;
  }

.table-title{
    margin-bottom: 0;
    margin-left: 15px;
    color: #2D25A0;
}

  /* macth styles */
.match{

    margin-top: 46px;
    font-family: 'Poppins', sans-serif;
    width: 1050px;
    margin: auto; 
}
.match p{
    color:#6C6C6C;;
    font-weight: normal;
    font-size: 16px;
}
.match h2{
    color:#6C6C6C;;
    
}

.match h5{
    color: orangered;
}

/* footer styles */
footer{
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

footer img{
    
    width: 483.87px;
    height: 110px;
}

.social-media{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-icon{
    
    margin-right: 14px;
    
    height: 32px;
    width: 32px;
}

.copyright-text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 63px;
}

/* responsive media query */
@media only screen and (max-width: 780px) {
    body{
        width: 100%;
    }

    header{
        width: 100%;
    }
    main{
        width: 90%;
    }

    nav{
        
        width: 80%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        
        
    }

    .button-sub{
        background-color: #E02C6D;;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
        width: 90px;
        height: 33px;
        border: 0px;
        margin-bottom: 29px;
        color: #FFFFFF;
    }

    .top-banner{
        flex-direction: column;
        width: 90%;
        margin-top: 0;
        align-items: center;
    }

    .top-banner-left{
        
        margin-left: 20px;
    }

    .top-banner-left h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        /* font-size: 64px; */
        margin-top: 0;
        font-size: 36px;
        color: white;
    }
    

    .top-banner-right img {
        width: 300px;
        height: 256px;
        margin-top: 50px;
        margin-bottom: 69px;
    }

    .players{
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 47px;
        grid-row-gap: 15px;
        margin-bottom: 60px;
    }

    .player{
        width: 330px;
        height: 474px;
        padding: 15px;
        align-items: center;
    }

    .player img{
        width: 300px;
        height: 256px;
    }
    
    .player-name{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 28px;
        color: #18191F;
        margin-top: 16px;
        margin-bottom: 10px;
        
    }
    
    .player-info{
        margin-bottom: 18px;
        font-family: 'Poppins', sans-serif;
        color:#6C6C6C;;
        font-weight: normal;
        font-size: 16px
    
        
    }

    .highlights-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .left-highlights-banner{
        margin: 0;
    }

    .highlights-title {
          
        font-weight: bold;
        font-size: 30px;
    }

    .highlights-news-text{
        font-weight: normal;
        font-size: 16px;
    }

    .right-highlights-banner img {
        width: 328px;
        height: 248px;
    }

    /* point table styles */

    .copa-point-table{
        font-family: 'Poppins', sans-serif;
        width:100%;
        margin: auto;
        box-shadow: 0 2px 5px #6C6C6C;
        


    }

    .point-table{
        margin-bottom: 20px;
    }

    .point-table , th, td {
        border: 1px solid rgb(255, 86, 19);
        color: #18191F;
        border-collapse: collapse;
    }

    /* macth styles */
    .match{
        
        margin-top: 46px;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        margin: auto; 
    }


    footer img {
        width: 100%;
        height: 100%;
    }
}
